# #########################
# Ignore file - NetBeans
# #########################
 
nbproject/private/
Seguridad-ejb/nbproject/
Sigamas-war/nbproject/
Seguridad-ejb/nbproject/
SeguridadEntidades-lib/nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
