/nbproject/private/
/Seguridad-ejb/nbproject/private/
/Sigamas-war/nbproject/private/
/SeguridadEntidades-lib/nbproject/private/
/SeguridadEntidades-lib/build/
/SeguridadEntidades-lib/dist/
/build/
/Seguridad-ejb/dist/
/dist/
/Sigamas-war/build/
/Sigamas-war/dist/